<div class="page-header">
  <div class="mat-display-4 text-capitalize mb-0">DARK</div>
  <div class="mat-display-3 mb-0">MATERIAL</div>
  <div class="mat-display-3">DESIGN</div>
</div>

<div class="page-content">
  <div class="section-header">
    <div class="mat-headline text-capitalize">Buttons</div>
    <div class="mat-subheading-2">
      Collection of buttons, cards, and other relevant elements,<br />
      that showcases the themes current colors and behavior
    </div>
  </div>

  <mat-card class="example-button-row p-4 mb-4">
    <mat-card-header>
      <mat-card-title>Basic Buttons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="accent2">Accent 2</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button color="success">Success</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button routerLink=".">Link</a>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-button-row p-4 mb-4">
    <mat-card-header>
      <mat-card-title>Raised Buttons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="accent2">Accent 2</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button color="success">Success</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-button-row p-4 mb-4">
    <mat-card-header>
      <mat-card-title>Stroked Buttons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="accent2">Accent 2</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button color="success">Success</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button routerLink=".">Link</a>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-button-row p-4 mb-4">
    <mat-card-header>
      <mat-card-title>Flat Buttons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="accent2">Accent 2</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button color="success">Success</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button routerLink=".">Link</a>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-button-row p-4 mb-4">
    <mat-card-header>
      <mat-card-title>Icon Buttons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-icon-button
        aria-label="Example icon-button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        aria-label="Example icon-button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        aria-label="Example icon-button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent2"
        aria-label="Example icon-button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        aria-label="Example icon-button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        color="success"
        aria-label="Example icon-button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        disabled
        aria-label="Example icon-button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-button-row p-4 mb-4">
    <mat-card-header>
      <mat-card-title>Fab Buttons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-fab>Basic</button>
      <button mat-fab color="primary">Primary</button>
      <button mat-fab color="accent">Accent</button>
      <button mat-fab color="accent2">Accent 2</button>
      <button mat-fab color="warn">Warn</button>
      <button mat-fab color="success">Success</button>
      <button mat-fab disabled>Disabled</button>
      <button mat-fab aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <a mat-fab routerLink=".">Link</a>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-button-row p-4 mb-4">
    <mat-card-header>
      <mat-card-title>Mini Fab Buttons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-mini-fab>Basic</button>
      <button mat-mini-fab color="primary">Primary</button>
      <button mat-mini-fab color="accent">Accent</button>
      <button mat-mini-fab color="accent2">Accent 2</button>
      <button mat-mini-fab color="warn">Warn</button>
      <button mat-mini-fab color="success">Success</button>
      <button mat-mini-fab disabled>Disabled</button>
      <button mat-mini-fab aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <a mat-mini-fab routerLink=".">Link</a>
    </mat-card-content>
  </mat-card>
</div>
