<mat-toolbar>
  <button
    mat-icon-button
    class="icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button class="icon" [routerLink]="['/vptracker']">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-raised-button class="icon" [routerLink]="['/buttons']">
    Buttons
  </button>
  <button mat-raised-button class="icon" [routerLink]="['/vptracker']">
    VP Tracker
  </button>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
