@use 'colors' as colors;

::ng-deep {
  .mat-step {
    color: white;

    .mat-step-label {
      width: 100%;

      .mat-step-text-label {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
