<div class="mat-display-2 ml-4">VP Tracker</div>

<mat-vertical-stepper orientation="vertical" linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Match setup</ng-template>
    <button
      mat-stroked-button
      color="accent2"
      (click)="openFactionTreeDialog()"
    >
      {{ faction ? faction.name : "Choose faction" }}
    </button>

    <button mat-stroked-button color="accent2" (click)="openSecObjsDialog()">
      Choose objectives
    </button>

    <!-- <div class="my-4 d-flex justify-content-around">
      <button color="primary" mat-flat-button matStepperNext>Finalize</button>
    </div> -->
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Round 1</ng-template>
    <mat-label class="h5">Good luck and have fun!</mat-label>

    <div class="my-4 d-flex justify-content-around">
      <button color="primary" mat-flat-button matStepperNext>Next round</button>
    </div>
  </mat-step>

  <div class="round" *ngFor="let round of rounds">
    <mat-step *ngIf="round.roundNumber > 0" [completed]="round.points >= 0">
      <ng-template matStepLabel>
        <span>Round {{ round.roundNumber + 1 }}</span>
        <span *ngIf="round.points > 0"> {{ round.points }} points</span>
      </ng-template>
      <mat-label class="h5">How many objectives do you hold?</mat-label>

      <div class="my-4 d-flex justify-content-around">
        <button
          class="mx-2"
          mat-fab
          color="primary"
          (click)="updateRound(round.roundNumber, 0)"
        >
          0
        </button>
        <button
          class="mx-2"
          mat-fab
          color="primary"
          (click)="updateRound(round.roundNumber, 5)"
        >
          1
        </button>
        <button
          class="mx-2"
          mat-fab
          color="primary"
          (click)="updateRound(round.roundNumber, 10)"
        >
          2
        </button>
        <button
          class="mx-2"
          mat-fab
          color="primary"
          (click)="updateRound(round.roundNumber, 15)"
        >
          More
        </button>
      </div>
    </mat-step>
  </div>
</mat-vertical-stepper>

<mat-card class="text-right">
  <h3 color="primary">Total victory points {{ victoryPoints }}</h3>
</mat-card>
