@import "~bootstrap/scss/bootstrap";
@import "theme";
@import "colors";
@import "typography";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $bg-color;
}

// Find a better place for these rules

.spacer {
  flex: 1 1 auto;
}

.custom-dialog {
  .mat-dialog-container {
    padding: 16px;
    background: none;
  }
}

.darker-backdrop {
  opacity: 1;
}
