// Primary palette
$gex-purple: (50 : #f3eaf8,
  100 : #e2caee,
  200 : #cea6e2,
  300 : #ba82d6,
  400 : #ac68ce,
  500 : #9d4dc5,
  600 : #9546bf,
  700 : #8b3db8,
  800 : #8134b0,
  900 : #6f25a3,
  A100 : #f2e1ff,
  A200 : #dcaeff,
  A400 : #c67bff,
  A700 : #bb62ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));


// Accent palette
$gex-teal: (50 : #eafbf9,
  100 : #cbf4f1,
  200 : #a9ede8,
  300 : #87e6de,
  400 : #6de0d7,
  500 : #53dbd0,
  600 : #4cd7cb,
  700 : #42d2c4,
  800 : #39cdbe,
  900 : #29c4b3,
  A100 : #ffffff,
  A200 : #d0fff9,
  A400 : #9dfff3,
  A700 : #84fff0,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));


// Warn palette
$gex-red: (50 : #fae7e9,
  100 : #f4c2c7,
  200 : #ec99a2,
  300 : #e4707c,
  400 : #df5260,
  500 : #d93344,
  600 : #d52e3e,
  700 : #cf2735,
  800 : #ca202d,
  900 : #c0141f,
  A100 : #fff1f2,
  A200 : #ffbec1,
  A400 : #ff8b91,
  A700 : #ff7278,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));


// Success palette
$light-green: (50 : #e3faf2,
  100 : #b9f3de,
  200 : #8bebc8,
  300 : #5de3b2,
  400 : #3adda2,
  500 : #17d791,
  600 : #14d389,
  700 : #11cd7e,
  800 : #0dc774,
  900 : #07be62,
  A100 : #e8fff2,
  A200 : #b5ffd6,
  A400 : #82ffba,
  A700 : #69ffac,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));


$gex-blue: (50 : #eaf0f9,
  100 : #ccdbf1,
  200 : #aac3e8,
  300 : #87aadf,
  400 : #6e98d8,
  500 : #5486d1,
  600 : #4d7ecc,
  700 : #4373c6,
  800 : #3a69c0,
  900 : #2956b5,
  A100 : #f5f8ff,
  A200 : #c2d4ff,
  A400 : #8fb0ff,
  A700 : #759eff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));


$gex-gray: (50 : #f0f0f6,
  100 : #dadae9,
  200 : #c1c1da,
  300 : #a8a8cb,
  400 : #9595bf,
  500 : #8282b4,
  600 : #7a7aad,
  700 : #6f6fa4,
  800 : #65659c,
  900 : #52528c,
  A100 : #f1f1ff,
  A200 : #bebeff,
  A400 : #8b8bff,
  A700 : #7171ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));
