$base-spacing: 8px;

$m0: 0 * $base-spacing;
$m1: 0.5 * $base-spacing;
$m2: 1 * $base-spacing;
$m3: 2 * $base-spacing;
$m4: 3 * $base-spacing;
$m5: 4 * $base-spacing;
$m6: 5 * $base-spacing;
$m7: 6 * $base-spacing;
$m8: 7 * $base-spacing;
$m9: 8 * $base-spacing;
